.about{
  font-family: "Montserrat", sans-serif;
}
.about__title{
  text-align: center;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 80%;
}
.info__list{
  list-style: none;
  text-align: left;
}
.info__list--item{
  margin: 1rem 0;
}
.info__network svg{
  font-size: 36px;
}
@media screen and (min-width : 480px) {
  .info {
    width: 50%;
  }
}
@media screen and (min-width : 769px) {
  .info {
    width: 50%;
  }
}
