.about{
  font-family: "Montserrat", sans-serif;
}
.about__title{
  text-align: center;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 80%;
  color: #0c0c0c;
}
.info__image{
  max-height: 20vh;
}
.info__image--img{
  max-height: 20vh;
  width: 20vh;
  object-fit: cover;
  border-radius: 50%;
}
.info__list{
  list-style: none;
  text-align: left;
}
.info__list--item{
  margin: 1rem 0;
}
.info__network svg{
  font-size: 36px;
  margin-right: .5rem;
}
.info__network--mail, .info__network--github{
  display: flex;
  align-items: center;
  margin: .5rem 0;
}
@media screen and (min-width : 480px) {
  .info {
    width: 50%;
  }
}
@media screen and (min-width : 769px) {
  .info {
    width: 50%;
  }
}
